.buttonMenu button {
    background-color: #69C8EC;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    width:140px;
    font-size: 18px;
    padding: 6px 3px 6px 3px;
    text-decoration: none;
}
.az {
    background-color: #B7E4F9FF;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    width:140px;
    font-size: 16px;
    padding: 4px 2px 4px 2px;
  }
  
  .Specie {
    background-color: #A6EEE6;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    width:140px;
    font-size: 18px;
    padding: 4px 2px 4px 2px;
  }
  .calculate
  {
    background-color: #A6EEE6;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    width:140px;
    font-size: 18px;
    padding: 4px 2px 4px 2px;
  }

  .organizarAZ,.organizarZA
  {
  background-color: #A6EEE6;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    width:140px;
    font-size: 18px;
    padding: 4px 2px 4px 2px;
  }
  
  .buttonSearch 
  {
    background-color: #A6EEE6;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    width:140px;
    font-size: 18px;
    padding: 4px 2px 4px 2px
  }
  .buttonMenu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(100vw - 20vw);
    color: #000;
    
}
