* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    max-width: 100%;
    align-items: center;
    background-color: #000;
}

.headerLogo {
    display: flex;
    justify-content: flex-end;
    width: 8%;
}

.headerLogo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.buttonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 20vw);
}

.buttonMenu button {
    background-color: #69C8EC;
    border-radius: 10px;
    border-color: transparent;
    font-size: 18px;
    margin-left: 100px;
    padding-inline: 18px;
    padding-block: 4px;
}

.homePage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    height: calc(100vh - 100px);
}

.homeImage img {
    height: 470px;
    padding: 30px;
}

.homeText {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 700px;
}

.homeText span {
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #000;
}

.headerSocialMedia img {
    height: 40px;
}

.headerContactInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .headerLogo {
        width: 15%;
    }
    .buttonMenu {
        width: calc(100vw - 25vw);
    }
    .buttonMenu button {
        margin-left: 20px;
        padding-inline: 5px;
    }
    .homeText {
        padding: 20px;
    }
    .homeText span {
        margin-top: 5px;
        font-size: 18px;
        text-align: justify;
    }
    .homeImage img {
        height: 340px;
        padding: 10px;  
    }
}

/* celular de tamaño normal */
@media screen and (max-width: 500px) {

}

/* celular chiquito */
@media screen and (max-width: 320px) {
    .header {
    flex-direction: column;
    height: 200px;
    }
}