*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    max-width: 100%;
    align-items: center;
    background-color: #000;
    text-decoration: none;
}
.headerLogo {
    display: flex;
    justify-content: flex-end;
    width: 8%;
}
.headerLogo img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.buttonMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 20vw);
    color: #000;
    
}

.buttonMenu button {
    background-color: #69C8EC;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    width:140px;
    font-size: 18px;
    margin-left: 100px;
    padding: 6px 3px 6px 3px;
    text-decoration: none;
}

a{
  text-decoration: none;
}

.homePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    height: calc(100vh - 100px);
}

.homeImage img {
    height: 470px;
    padding: 30px;
}

.homeText {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 700px;
}

.homeText span {
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
}

.filters {
  display:flex;
  background-color: #000;
}

.searchLetter {
  background-color: #000;
}

.az {
  background-color: #B7E4F9FF;
  border-radius: 10px;
  border-color: transparent;
  text-align: center;
  width:140px;
  font-size: 16px;
  margin-left: 100px;
  padding: 4px 2px 4px 2px;
}

.buttonSearch{ 
  background-color: #A6EEE6;
  border-radius: 10px;
  border-color: transparent;
  text-align: center;
  width:140px;
  font-size: 18px;
  margin-left: 20px;
  padding: 4px 2px 4px 2px;}

.Specie {
  background-color: #A6EEE6;
  border-radius: 10px;
  border-color: transparent;
  text-align: center;
  width:140px;
  font-size: 18px;
  margin-left: 100px;
  padding: 4px 2px 4px 2px;
}

.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
}

.card {
  width: 21%;
  text-align: center;
}

.cardImage {  
  background-color:transparent;
  border-color: transparent; 
}

.cardImage img {
  width: 85%;
  border-radius: 22px;
  margin-top: 8%;
}

.nameCard {
  color: #fff;
  font-size: 18px;
}

.popUpWrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popUp {
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #000;
    border-color: transparent;
}

.headerSocialMedia img {
    height: 40px;
}

.headerContactInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}



@media screen and (max-width: 700px) {
    .headerLogo {
        width: 15%;
    }
    .buttonMenu {
        justify-content: space-around;
        width: calc(100vw - 25vw);
    }
    .buttonMenu button {
        width:30%;
        margin-left: 0%;
        padding-inline: 5px;
    }
    .homeText {
        padding: 20px;
    }
    .homeText span {
        margin-top: 5px;
        font-size: 18px;
        text-align: justify;
    }
    .homeImage img {
        height: 340px;
        padding: 10px;  
    }
}

/* celular de tamaño normal */
@media screen and (max-width: 500px) {
    .menu{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .headerLogo {
      justify-content: center;
      margin-bottom: 3%;
      margin-top: 3%;
    }
    .buttonMenu {
      width: 100%;
      justify-content: space-evenly;
    }
    .buttonMenu button{
      width:28%;
    }
    .homePage {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: calc(100vh - 10vh)
    }
    .homeText {
      width: 90%;
    }
    .headerContactInfo {
      padding:10px;
    }
}

/* celular chiquito */
@media screen and (max-width: 380px) {
  .menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .headerLogo {
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
  }
  .buttonMenu {
    width: 100%;
    margin-left: 0%;
    justify-content: space-evenly;
  }
  .buttonMenu button{
    width:30%;
    font-size: 13px;
  }
  .homePage {
    display: flex;
    flex-direction: column;
    justify-content:start;
    height: calc(100vh + 7vh);
  }
  .homeText {
    width: 90%;
    font-size: 0px;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }   
  .headerContactInfo {
    padding: 5px;
  } 
}