@importurl('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family:'Roboto', sans-serif;
}
.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    max-width: 100%;
    align-items: center;
    background-color: #000;
    text-decoration: none;
}
.headerLogo {
    display: flex;
    justify-content: flex-end;
    width: 8%;
}
.headerLogo img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
a{
  text-decoration: none;
}

.homePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    height: calc(100vh - 100px);
}

.homeImage img {
    height: 470px;
    padding: 30px;
}

.homeText {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 700px;
}

.homeText span {
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
}

.filters {
  display:flex;
  justify-content: space-around;
  background-color: #000;
}

.searchLetter {
  background-color: #000;
}

.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
}

.card {
  width: 21%;
  text-align: center;
}

.cardImage {  
  background-color:transparent;
  border-color: transparent; 
}

.cardImage img {
  width: 85%;
  border-radius: 22px;
  margin-top: 8%;
}

.nameCard {
  color: #fff;
  font-size: 18px;
}

.popUpWrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popUp {
  max-width: 500px;
  height: 200px;
  background: white;
  margin: 10% auto;
  padding: 20px;
  position: relative;
  border-radius: 22px;
  background: #BE93C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}
.popUp-title{
  display: block;
  text-align: center;
  font-weight: 700;
}
.popUp-containerInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popUp-info{
  display: flex;
  justify-content: space-around;
}
.popUp-containerImage{
  order: -1;
  width: 125px;
  height: 125px;
}
.popUp-containerImage img{
  max-width: 100%;
  object-fit: cover;
  border-radius: 1em;

}
p{
  display: inline-block;
}
span{
  display: block;
}
.popUpCalculate-container{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#popUpCalculate{
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #000;
    border-color: transparent;
}

.headerSocialMedia img {
    height: 40px;
}

.headerContactInfo {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}



@media screen and (max-width: 700px) {
    .headerLogo {
        width: 15%;
        margin-left: 20px;
    }
    .buttonMenu {
        width: calc(100vw - 25vw);
    }
    .buttonMenu button {
        width:30%;
        margin-left: 0%;
    }
    .homeText {
        padding: 20px;
    }
    .homeText span {
        margin-top: 5px;
        font-size: 18px;
        text-align: justify;
    }
    .homeImage img {
        height: 340px;
        padding: 10px;  
    }
    .az{
      margin-left:70px;
    }
}

/* celular de tamaño normal */
@media screen and (max-width: 500px) {
    .menu{
      display: flex;
      height: 170px;
    }
    .headerLogo {
      justify-content: center;
      margin-bottom: 3%;
      margin-top: 3%;
    }
    .buttonMenu {
      width: 100%;
    }
    .buttonMenu button{
      width:28%;
    }
    .homePage {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: calc(100vh - 10vh)
    }
    .homeText {
      width: 90%;
    }
    .headerContactInfo {
      padding:10px;
    }
    .Specie{
      margin-left: 0px;
      margin-right: 10px;
      height: 40px;

    }
    .az{
      margin-left: 10px;
      margin-bottom: 10px
    }
    .buttonSearch{
      margin-left: 10px;
      margin-bottom: 2px;
    }
  }

/* celular chiquito */
@media screen and (max-width: 380px) {

  .buttonGroup,.buttonSpecie{
    display: flex;

  }
  .menu{
    display: flex;
  }
  .Specie{
    margin-right: 0;
  }
  .filters{
    align-items: center;
    height: 200px;
    flex-direction: column;
  }
  .headerLogo {
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
  }
  .buttonMenu {
    width: 100%;
    margin-left: 0%;
    flex-wrap: wrap;
  }
  .buttonMenu button{
    width:30%;
    font-size: 13px;
  }
  .homePage {
    display: flex;
    flex-direction: column;
    justify-content:start;
    height: calc(100vh + 7vh);
  }
  .homeText {
    width: 90%;
    font-size: 0px;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }   
  .headerContactInfo {
    padding: 5px;
  } 
}